:root {
	--plain-100: #ffffff;
	--plain-95: #f2f2f2;
	--plain-90: #e5e5e5;
	--plain-80: #cccccc;
	--plain-70: #b2b2b2;
	--plain-60: #999999;
	--plain-50: #7f7f7f;
	--plain-40: #666666;
	--plain-30: #4c4c4c;
	--plain-20: #333333;
	--plain-10: #191919;
	--plain-0: #000000;
	--font-fallbacks:
		'Public Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	// Background
	--background: var(--plain-90);
	// Avatar
	--avatar-size: 80px;
	--avatar-border-radius: 50%;
	// Font
	--font-paragraph: var(--font-fallbacks);
	--font-heading: var(--font-fallbacks);
	--color-paragraph: var(--plain-50);
	--color-heading: var(--plain-0);
	// Spacing
	--base-padding: 1rem;
	--base-gap: 1rem;
	// Widgets
	--widgets-background-color: var(--plain-100);
	--widgets-background-color-dim: var(--plain-95);
	--widgets-background-blur: 0px;
	--widgets-border-width: 1px;
	--widgets-border-color: var(--plain-60);
	--widgets-border-base-radius: 1.5rem;
	--widgets-box-shadow-x: 0;
	--widgets-box-shadow-y: 0;
	--widgets-box-shadow-blur: 10px;
	--widgets-box-shadow-spread: 0;
	--widgets-box-shadow-color: rgba(0, 0, 0, 0.1);
	// Primary buttons
	--buttons-primary-background-color: var(--plain-0);
	--buttons-primary-on-background-color: var(--plain-100);
	--buttons-primary-border-color: var(--plain-0);
	// Secondary buttons & inputs
	--inputs-background-color: var(--plain-95);
	--inputs-on-background-color: var(--plain-0);
	--inputs-border-width: 1px;
	--inputs-border-color: var(--plain-60);
	--inputs-border-base-radius: 0.75rem;
}
